# Data Frames

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../../data/bodyfat.txt", delimiter=" ", decimal=".",
                 encoding="utf-8")

In [4]:
df.head()

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
2,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
3,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
4,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
5,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [5]:
df.tail()

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
248,1.0736,11.0,70,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
249,1.0236,33.6,72,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
250,1.0328,29.3,72,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
251,1.0399,26.0,72,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
252,1.0271,31.9,74,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

In [6]:
df.loc[[1]]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1

In [7]:
df.loc[[5]]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
5,1.034,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [8]:
df.iloc[[0]]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1

In [9]:
df[12:20]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
13,1.0513,20.8,32,180.50,69.50,38.4,102.0,91.6,103.9,63.4,38.3,21.5,32.5,28.6,17.7
14,1.0505,21.2,30,205.25,71.25,39.4,104.1,101.8,108.6,66.0,41.5,23.7,36.9,31.6,18.8
15,1.0484,22.1,35,187.75,69.50,40.5,101.3,96.4,100.1,69.0,39.0,23.1,36.1,30.5,18.2
16,1.0512,20.9,35,162.75,66.00,36.4,99.1,92.8,99.2,63.1,38.7,21.7,31.1,26.4,16.9
17,1.0333,29.0,34,195.75,71.00,38.9,101.9,96.4,105.2,64.8,40.8,23.1,36.2,30.8,17.3
18,1.0468,22.9,32,209.25,71.00,42.1,107.6,97.5,107.0,66.9,40.0,24.4,38.2,31.6,19.3
19,1.0622,16.0,28,183.75,67.75,38.0,106.8,89.6,102.4,64.2,38.7,22.9,37.2,30.5,18.5
20,1.0610,16.5,33,211.75,73.50,40.0,106.2,100.5,109.0,65.8,40.6,24.0,37.1,30.1,18.2

In [10]:
df[10:95:5]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
11,1.0830,7.1,26,186.25,74.50,38.5,101.5,83.6,98.2,59.7,39.7,25.2,32.8,29.4,18.5
16,1.0512,20.9,35,162.75,66.00,36.4,99.1,92.8,99.2,63.1,38.7,21.7,31.1,26.4,16.9
21,1.0551,19.1,28,179.00,68.00,39.1,103.3,95.9,104.9,63.5,38.0,22.1,32.5,30.3,18.4
26,1.0911,3.7,27,159.25,71.50,35.7,89.6,79.7,96.5,55.0,36.7,22.5,29.9,28.2,17.7
31,1.0716,11.9,32,182.00,73.75,38.7,100.5,88.7,99.8,57.5,38.7,33.9,32.5,27.7,18.4
36,1.0101,40.1,49,191.75,65.00,38.4,118.5,113.1,113.8,61.9,38.3,21.9,32.0,29.8,17.0
41,1.0217,34.5,45,262.75,68.75,43.2,128.3,126.2,125.6,72.5,39.6,26.6,36.4,32.7,21.4
46,1.0670,13.9,43,164.25,73.25,35.7,96.6,81.5,97.2,58.4,38.2,23.4,29.7,27.4,18.3
51,1.0756,10.2,47,158.25,72.25,34.9,90.2,86.7,98.3,52.6,37.2,22.4,26.0,25.8,17.3
56,1.0473,22.6,54,198.00,72.00,39.9,107.6,100.0,99.6,57.2,38.0,22.0,35.9,30.2,18.9
61,1.0396,26.1,62,216.00,73.25,41.4,112.3,104.8,103.1,61.6,40.9,23.1,36.2,31.8,20.2
66,1.0313,30.0,55,183.50,67.50,40.9,103.0,100.3,104.2,64.8,40.2,22.7,34.8,30.1,18.7
71,1.0439,24.3,62,167.50,71.50,35.5,97.6,91.5,98.5,56.6,38.6,22.4,31.5,27.3,18.6
76,1.0666,18.5,61,148.25,67.50,36.0,91.6,81.8,94.8,54.5,37.0,21.4,29.3,27.0,18.3
81,1.0283,31.4,67,163.75,67.75,38.4,97.7,95.8,97.1,54.8,38.2,23.7,29.4,27.2,19.0
86,1.0386,26.6,67,167.00,67.50,36.5,98.9,89.7,96.2,54.7,37.8,33.7,32.4,27.7,18.2
91,1.0520,20.5,46,177.00,70.00,37.2,99.7,95.6,102.2,58.3,38.2,22.5,29.1,27.7,17.7

In [11]:
df.Density

1      1.0708
2      1.0853
3      1.0414
4      1.0751
5      1.0340
        ...
248    1.0736
249    1.0236
250    1.0328
251    1.0399
252    1.0271
Name: Density, Length: 252, dtype: float64

In [12]:
df.Density.sum()

266.0046

In [13]:
df.Density.mean()

1.0555738095238094

In [14]:
df.Density.median()

1.0549

In [15]:
df.Density.describe()

count    252.000000
mean       1.055574
std        0.019031
min        0.995000
25%        1.041400
50%        1.054900
75%        1.070400
max        1.108900
Name: Density, dtype: float64

In [16]:
df.describe()

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,1.055574,19.150794,44.884921,178.924405,70.148810,37.992063,100.824206,92.555952,99.904762,59.405952,38.590476,23.102381,32.273413,28.663889,18.229762
std,0.019031,8.368740,12.602040,29.389160,3.662856,2.430913,8.430476,10.783077,7.164058,5.249952,2.411805,1.694893,3.021274,2.020691,0.933585
min,0.995000,0.000000,22.000000,118.500000,29.500000,31.100000,79.300000,69.400000,85.000000,47.200000,33.000000,19.100000,24.800000,21.000000,15.800000
25%,1.041400,12.475000,35.750000,159.000000,68.250000,36.400000,94.350000,84.575000,95.500000,56.000000,36.975000,22.000000,30.200000,27.300000,17.600000
50%,1.054900,19.200000,43.000000,176.500000,70.000000,38.000000,99.650000,90.950000,99.300000,59.000000,38.500000,22.800000,32.050000,28.700000,18.300000
75%,1.070400,25.300000,54.000000,197.000000,72.250000,39.425000,105.375000,99.325000,103.525000,62.350000,39.925000,24.000000,34.325000,30.000000,18.800000
max,1.108900,47.500000,81.000000,363.150000,77.750000,51.200000,136.200000,148.100000,147.700000,87.300000,49.100000,33.900000,45.000000,34.900000,21.400000

# Cómo crear un data frame

In [33]:
import numpy as np

In [35]:
df = pd.DataFrame({
    "A": np.random.rand(10),
    "B": np.random.rand(10),
    "C": np.random.rand(10)
})

In [37]:
df

          A         B         C
0  0.689153  0.264223  0.015692
1  0.287844  0.749520  0.610357
2  0.135824  0.965630  0.031436
3  0.934168  0.630091  0.226384
4  0.513370  0.017178  0.892878
5  0.615703  0.323910  0.893250
6  0.447021  0.897970  0.666920
7  0.367457  0.670829  0.063651
8  0.358717  0.994913  0.739810
9  0.859131  0.324025  0.101823

In [40]:
df.mean()

A    0.520839
B    0.583829
C    0.424220
dtype: float64

In [42]:
df.mean(axis="columns")

0    0.323023
1    0.549240
2    0.377630
3    0.596881
4    0.474475
5    0.610954
6    0.670637
7    0.367312
8    0.697813
9    0.428326
dtype: float64

In [66]:
df2 = pd.DataFrame({
    "key": ["A", "B", "C", "A", "B", "C"],
    "values": range(6)
},
columns=["values","key"]
)

In [68]:
df2

   values key
0       0   A
1       1   B
2       2   C
3       3   A
4       4   B
5       5   C

In [72]:
df2.groupby("key").mean()

     values
key
A       1.5
B       2.5
C       3.5